<!----------------------footer------------------->
    <div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Tải Ứng dụng</h3>
                <p>Tải ứng dụng cho điện thoại Android và IOS.</p>
                <div class="app-logo">
                    <img src="./images/play-store.png" alt="">
                    <img src="./images/app-store.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
               <a href="/"> <img src="./images/logo-white.png" alt=""></a>
                <p>Mục đích của chúng tôi là Tạo ra một cách bền 
                    vững niềm vui và lợi ích của môn thể thao mà nhiều
                     người có thể tiếp cận được..</p>
            </div>
            <div class="footer-col-3">
                <h3>Liên kết hữu ích</h3>
                <ul>
                    <li>Phiếu giảm giá</li>
                    <li>Bài viết trên Blog</li>
                    <li>Chính sách hoàn trả</li>
                    <li>Tham gia liên kết</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Theo dõi chúng tôi</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twister</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!----------------------js query------------------->
<script src="/javascripts/nav-bar.js"></script>
</body>
</html>