<!----------------------header------------------->
    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
               <a href="/"> <img src="/images/logo.png" alt="" width="125px"></a>
            </div>
         <nav>
             <ul id="menuItems">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/san-pham">Sản phẩm</a></li>
                <li><a href="/#about">Về chúng tôi</a></li>
                <li><a href="/#footer">Liên hệ</a></li>
                <li><a href="/dang-nhap">Tài khoản</a></li>
             </ul>
        </nav>
       <a href="/gio-hang" ><img src="/images/cart.png" alt="" width="30px" height="30px"></a>
        <img src="./images/menu.png" alt="" width="30px" height="30px" 
        class="menu-icon" onclick="menutoggle()">
    </div>
    <div class="row">
        <div class="col-2">
                <h1>Macbook Air <br> <h2>Power. It's in the Air</h2></h1>
                <p >Máy tính xách tay mỏng nhất, nhẹ nhất của chúng tôi, 
                    được biến đổi hoàn toàn bởi chip Apple M1. Tốc độ CPU 
                    nhanh hơn tới 3,5 lần. Tốc độ GPU nhanh hơn tới 5 lần. 
                    Công cụ thần kinh tiên tiến nhất của chúng tôi để học
                     máy nhanh hơn tới 9x. Tuổi thọ pin dài nhất từ ​​trước đến 
                     nay trên MacBook Air. Và một thiết kế im lặng, không quạt. 
                     Nhiều sức mạnh này chưa bao giờ sẵn sàng để đi.</p>
                    <a href=""class="btn">Khám phá ngay &#8594;</a>
        </div>
        <div class="col-2">
                <img src="./images/image1.jpg" alt="">
        </div>
    </div>
    </div>
    </div>